{% extends 'user.html' %}

{% block content %}

<style>
    .table_head {
        background: linear-gradient(to left, #00c6ff, #0072ff);
    }

    thead th {
        color: black;
        text-align: center;
    }
    tbody td {
        text-align: center;
    }
    .text_h{
        color: rgba(0, 0, 0, 0.418);
        text-align: center;
    }
</style>

<h2 class="my-3 text_h">Your Quick Orders</h2>

<table>
    <thead class="table_head">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>Order Date</th>
            <th>Created Date</th>
            <th>Status</th>
            <th>Location</th>
            <th>Paid</th>
        </tr>
    </thead>
    <tbody>
        {% for order in data %}
        <tr>
            <td>{{ order.product.size }}</td>
            <td>{{ order.quantity }}</td>
            <td>₹{{ order.total_price }}</td>
            <td>{{ order.order_date }}</td>
            <td>{{ order.created_date }}</td>
            <td>{{ order.status }}</td>
            <td>
                {% if order.location_url %}
                    <a class="btn btn-primary" href="{{ order.location_url }}" target="_blank">View Location</a>
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td>{% if order.is_paid %}✅ Paid{% else %}❌ Not Paid{% endif %}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="9">No quick orders found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
